nav > ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
}

nav {
  position: absolute;
  overflow-y: hidden;
  background-color: #222;

  transition: opacity 0.2s ease-in-out;
}

nav.hidden {
  display: none;
}

#toggleNav {
  color: lightgray;
  outline: lightgray 3px solid;
  cursor: pointer;
  background-color: black;
}
